<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loud - Signup</title>
    <meta name="author" content="David Grzyb" />
    <meta name="description" content="" />

    <!-- Tailwind -->
    <link
      href="/dist/tailwind.css"
      rel="stylesheet"
    />
    <link href="/css/custom.css" rel="stylesheet"> 
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

      .font-family-karla {
        font-family: karla;
      }
    </style>
  </head>
  <body class="bg-gray-100 font-family-karla h-screen">
    <div class="w-full flex flex-wrap">
      <!-- Register Section -->
      <div class="w-full md:w-1/2 flex flex-col">
        <div
          class="flex justify-center md:justify-start pt-7 md:pl-12 md:-mb-5"
        >
        <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
        </div>

        <div
          class="
            flex flex-col
            justify-center
            md:justify-start
            my-auto
            pt-8
            md:pt-0
            px-8
            md:px-24
            lg:px-32
          "
        >
          <p class="text-center text-3xl">Join Us.</p>
          <form
            class="flex flex-col pt-3 md:pt-8"
            onsubmit="event.preventDefault();"
            id="signupForm"
          >
            <div class="flex flex-col pt-4">
              <label for="name" class="text-lg">Name</label>
              <input
                type="text"
                id="name"
                placeholder="John Smith"
                class="
                  shadow
                  appearance-none
                  border
                  rounded
                  w-full
                  py-2
                  px-3
                  text-gray-700
                  mt-1
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
              />
              <span id="name_msg" class="invalidVal"></span>
            </div>
            <div class="flex flex-col pt-4">
                <label for="name" class="text-lg">Reg No.</label>
                <input
                  type="text"
                  id="regNumber"
                  placeholder="17M/0987/CS"
                  class="
                    shadow
                    appearance-none
                    border
                    rounded
                    w-full
                    py-2
                    px-3
                    text-gray-700
                    mt-1
                    leading-tight
                    focus:outline-none
                    focus:shadow-outline
                  "
                />
                <span id="reg_msg" class="invalidVal"></span>
              </div>

            <div class="flex flex-col pt-4">
              <label for="email" class="text-lg">Email</label>
              <input
                type="email"
                id="email"
                placeholder="your@email.com"
                class="
                  shadow
                  appearance-none
                  border
                  rounded
                  w-full
                  py-2
                  px-3
                  text-gray-700
                  mt-1
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
              />
              <span id="email_msg" class="invalidVal"></span>
            </div>

            <div class="flex flex-col pt-4">
              <label for="password" class="text-lg">Password</label>
              <input
                type="password"
                id="password"
                placeholder="Password"
                class="
                  shadow
                  appearance-none
                  border
                  rounded
                  w-full
                  py-2
                  px-3
                  text-gray-700
                  mt-1
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
              />
              <span id="pass_msg" class="invalidVal"></span>
              <span id="one">Should be more than 6 characters</span>
              <span id="two">Should contain a number </span>
              <span id="three">Should contian a letter</span>
              <span id="four">Should contian special char</span>
            </div>

            <div class="flex flex-col pt-4">
              <label for="confirm-password" class="text-lg"
                >Confirm Password</label
              >
              <input
                type="password"
                id="confirm-password"
                placeholder="Password"
                class="
                  shadow
                  appearance-none
                  border
                  rounded
                  w-full
                  py-2
                  px-3
                  text-gray-700
                  mt-1
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
              />
              <span id="pass2_msg" class="invalidVal"></span>
            </div>

            <input
              type="submit"
              value="Sign Up"
              class="
                bg-black
                text-white
                font-bold
                text-lg
                hover:bg-gray-700
                p-2
                mt-8
              "
            />
          </form>
          <div class="text-center pt-12 pb-12">
            <p>
              Already have an account?
              <a href="/auth/signin" class="underline font-semibold"
                >Signin here.</a
              >
            </p>
          </div>
        </div>
      </div>

      <!-- Image Section -->
      <div class="w-1/2">
        <img
          class=" w-full h-screen hidden md:block "
          src="/img/undraw_my_app_re_gxtj.svg" style="color: #4D48EF;"
          alt="Background"
        />
      </div>
    </div>
  </body>
  <script src="/js/signup.js"></script>
</html>
